@import 'tailwindcss';

:root {
  --background: #ffffff;
  --header-bg: #dadada;
  --light-gray: #b6b6b6;
  --dark-gray: #494949;
  --main-red: #EE1C25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-header_bg: var(--header-bg);
  --color-light_gray: var(--light-gray);
  --color-dark_gray: var(--dark-gray);
  --color-main_red: var(--main-red);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

